---
import "@/styles/global.css";
import { reportPageModifiedTime } from "@/utils.ts";
import { getLangFromUrl, useTranslations } from "@/i18n/utils.ts";

interface Props {
  title?: string;
}

const { title = "Max's website" } = Astro.props;

const lang = getLangFromUrl(Astro.url);
const translate = useTranslations(lang);

const page = Astro.url.pathname;
const modifiedTime = reportPageModifiedTime(page);
---

<!doctype html>
<html class="font-comic bg-black text-white h-full" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/gif" href="/rotating_cat.gif" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col min-h-screen">
    <header class="flex items-center p-2 gap-4 h-16 border-dashed border-b">
      <img src="/rotating_cat.gif" alt="" class="h-3/4" />
      <span
        class="text-center wobbly-border border p-2 hover:rotate-2 transition-all"
        >Max Netyaga</span
      >
    </header>
    <main class="flex-1">
      <slot />
    </main>
    <footer
      class="text-black border-white border-t h-fit flex justify-between text-xs [&_span]:px-2 [&_span]:py-1">
      <div class="flex">
        <span class="bg-[#F1C40F]">
           {translate("layout.page_modified_at")}: {modifiedTime}
        </span>
      </div>
      <div class="flex"></div>
      <div class="flex">
        <div class="flex">
          <span class="bg-[#B1B1B1]">
            <a href="https://github.com/maxnetyaga">  github </a>
          </span>
        </div>
        <span class="bg-[#2980B9]">
          <a href="mailto:max@max.netyaga.com" class="inline"
            > {translate("layout.mail")}</a
          >
        </span>
        <span class="bg-[#51A37A]">
          <a href="/max-netyaga.asc"> {translate("layout.pgp")}</a>
        </span>
      </div>
    </footer>
  </body>
</html>
