---
import "@/styles/global.css";
import { reportPageModifiedTime } from "@/utils.ts";
import { getLangFromUrl, useTranslations } from "@/i18n/utils.ts";

const lang = getLangFromUrl(Astro.url);
const translate = useTranslations(lang);

const page = Astro.url.pathname;
const modifiedTime = reportPageModifiedTime(page);
---

<!doctype html>
<html class="font-comic" lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro Basics</title>
    </head>
    <body class="flex flex-col justify-between p-2">
        <slot />
        <footer>
            {translate("layout.page_modified_at")}: {modifiedTime}
        </footer>
    </body>
</html>

<style>
    html,
    body {
        margin: 0;
        width: 100%;
        height: 100%;
    }
</style>
