---
import ArticleContainer from "@/layouts/ArticleContainer.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Max's CV">
  <ArticleContainer className="[&_h1]:text-[#BB9AF7]">
    <section id="introduction">
      <p>
        Вітаю! Мене звати Макс та я <span class="line-through"
          >дилетант широкого спектру</span
        >
        <span class="line-through">fullstack розробник</span>
        <span class="rainbow">інженер</span>  (зараз, зазвичай, програмного забезпечення).
      </p>
      <p>
        Захоплююсь <span class="italic">технологією</span>. У ній ціную простоту
        та функціональність. Переконаний у користі
        <span class="italic">вільного</span> по. Пропагую володіння своїми даними
        та інфраструктурою.
      </p>
      <p>
        У майбутньому хотів би займатися системним програмуванням / розробкою
        вбудованих систем. Також на дуже базовому рівні цікавлюсь електронікою.
      </p>
      <p>
        При кожному зручному випадку люблю поговорити про sci-fi, warhammer40k,
        свого кота (та, можливо, вашого), селфхостінг та <span
          class="line-through">як пропатчики KDE під FreeBSD</span
        > ергономіку розробки або просто користування <span class="rainbow"
          >персональним когітатором</span
        >.
      </p>
    </section>

    <div class="overflow-hidden max-w-full">&lt~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~&gt</div>

    <section class="flex flex-col gap-4" id="tools">
      <h1>
        Інструменти, що я використовую (або використовую/використовував
        професійно)
      </h1>
      <div
        class="flex flex-col gap-8 [&>div]:flex [&>div]:flex-col [&>div]:gap-2 [&>div>ul]:list-disc [&>div>ul]:list-inside [&>div>ul]:flex [&>div>ul]:flex-col [&>div>ul]:gap-2">
        <div>
          <h2>Мови програмування</h2>
          <ul>
            <li>
              python
              <p>
                Люблю виразність синтаксису. Добре знаю стандартну бібліотеку.
                Зручно писати асихронний код. Мова має чудове метапрограмування
                (dunder methods), що дозволяє органічно інтегрувати свої класи з
                вбудованими об'єктами.
              </p>
            </li>
            <li>
              js
              <p>
                Мова вебу. Як python, тільки зі скобочками та дивацтвами,
                залишеними для обратної сумісності. 🗿 Працював з веб-воркерами
                та асинхронністю.
              </p>
            </li>
            <li>
              js ~ typescript
              <p>автодоповнення у редакторі коду + страждання.</p>
            </li>
            <li>
              sh
              <p>Робота в консолі + ci/cd + прості скрипти.</p>
            </li>
            <li>
              lua
              <p>конфігурація свого блокноту. </p>
            </li>
          </ul>
        </div>
        <div>
          <h2>Web backend</h2>
          <ul>
            <li>
              python ~ fastapi
              <p>
                Використовую для для побудови web api. Подобається механізм
                ін'єкції залежностей та можливість використовувати libuv.
                Класний синтаксис з декораторами та автоматична генерація
                документації.
              </p>
            </li>
            <li>
              python ~ pydantic
              <p>
                Корисна бібліотека для взаємодії з зовнішніми системами. Для
                внутршіх структур даних зазвичай використовую вбудовані
                dataclasses.
              </p>
            </li>
            <li>
              python ~ celery
              <p>
                Використовув як більш зручну заміну cron / systemd timers. Також
                використовував для багатопотокового пайплайну обробки початкових
                даних (e.g. парсингу пдфок). Гарна агрегація завдань. Можна
                використовувати крихкий код / код з витіками пам'яті, завдяки
                вбудованому механізму перезапуску.
              </p>
            </li>
          </ul>
        </div>
        <div>
          <h2>Бази даних</h2>
          <ul>
            <li>
              postgresql  󰟆
              <p>
                Найліпша реляційна база даних загального призначення. Завдяки
                типу даних jsonb також може бути використана як nosql.
              </p>
            </li>
            <li>postgresql ~ postgis </li>
            <p>Геопросторове росширення для postgresql.</p>
            <li>
              sqlite 
              <p>
                Найліпша реляційна база даних загального призначення, коли
                хочеш, щоб уся база була одним файлом. Також використовую для
                тестування.
              </p>
            </li>
            <li>
              python ~ sqlc 
              <p>
                Інструмент кодогенерації типів даних та типізованих методів на
                основі sql запитів та теки з міграціями БД. Дозволяє напряму
                використовувати sql (бо sql rocks), а не orm-обгортку. Версія
                для пітона ще трохи сира, але майже все працює правильно.
              </p>
            </li>
            <li>
              python ~ sqlalchemy
              <p>
                Використовую, коли потрібно будувати більш динамічні запроси,
                ніж дозволяє sqlc.
              </p>
            </li>
            <li>
              python ~ alembic
              <p>Генерація міграцій.</p>
            </li>
            <li>redis / valkey</li>
          </ul>
        </div>
        <div>
          <h2>Інфраструктура</h2>
          <ul>
            <li>
              GNU/linux 
              <p>
                Маю навички адміністрування серверів. Щось розумію у мережах.
              </p>
            </li>
            <li>
              caddy 
              <p>
                HTTP сервер написаний на go з простим конфігуруванням.
                Використовую для локального запуску інфраструктури для розробки
                у зв'язці з tmuxinator. Також дуже зручно використовувати як
                реверс проксі (підтримує автоматичне оновлення TLS
                сертифікатів).
              </p>
            </li>
            <li>
              docker
              <p>
                Як shell скрипти, тільки складніше. Можу написати Dockerfile та
                docker-compose.
              </p>
            </li>
          </ul>
        </div>
        <div>
          <h2>GUI</h2>
          <ul>
            <li>js ~ react</li>
            <li>js ~ tanstack</li>
            <li>js ~ htmx</li>
            <li>js ~ astro</li>
            <li>js ~ deck.gl</li>
            <li>css ~ tailwind</li>
            <li>qt (python binding)</li>
          </ul>
        </div>
        <div>
          <h2>Контроль версій</h2>
          <ul>
            <li>
              git
              <p>Версіонування текстових файлів</p>
            </li>
            <li>
              btrfs ~ snapshots
              <p>Версіонування бінарних файлів</p>
            </li>
          </ul>
        </div>
        <div>
          <h2>Синхронізація даних</h2>
          <ul><li>syncthing </li></ul>
        </div>
        <div>
          <h2>Ергономіка розробки</h2>
          <ul>
            <li>
              neovim 
              <p>Весь день. Кожного дня.</p>
            </li>
          </ul>
        </div>
      </div>
    </section>

    <div class="overflow-hidden max-w-full">&lt~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~&gt</div>

    <section id="experience" class="flex flex-col gap-4">
      <h1>Місця, де я працював</h1>
      <ul>
        <li>
          2023 - 2025 | Geoinfo
          <p>
            Займався розробкою інструментів для аналізу земельного фонду
            територіальних громад. Робив алгоритми для обробки витягів з різних
            державних сервісів та проєктував базу даних для збереження отриманих
            даних. Також створював графічний інтерфейс для відображення різних
            характеристик ділянок. Налаштовував сервернy частинy.
          </p>
        </li>
      </ul>
    </section>

    <div class="overflow-hidden max-w-full">&lt~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~&gt</div>

    <section id="languages" class="flex flex-col gap-4">
      <h1>Людські мови, які я знаю</h1>
      <ol>
        <li>Англійська ~ ≈B2</li>
        <li>Російська ~ рідна</li>
        <li>Українська ~ рідна</li>
      </ol>
    </section>

    <div class="overflow-hidden max-w-full">&lt~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~&gt</div>

    <section id="education" class="flex flex-col gap-4">
      <h1>Освіта</h1>
      <ul>
        <li>
          Київський політехнічний інститут <br /> Інженерія програмного забезпечення
          <br /> Бакалавріат 2023 - 2025 (незакінчена)
        </li>
      </ul>
    </section>
  </ArticleContainer></Layout
>
